.calendar-wrapper {
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

/* Contenedor del calendario */
.calendar-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.floating-create-button {
    position: fixed; /* Fijo respecto al viewport */
    bottom: 20px; /* Separado del borde inferior */
    right: 20px; /* Separado del borde derecho */
    background-color: #007bff;
    color: white;
    padding: 10px 15px; /* Ajuste de padding */
    border-radius: 50%; /* Botón completamente redondo */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Encima de otros elementos */
    width: 60px; /* Ancho fijo */
    height: 60px; /* Alto fijo */
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar el contenido */
}

.floating-create-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

