.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #3f51b5;
    padding: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}